html, body {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	font-family: sans-serif;
	line-height: 1.9em;
	max-height: 950px;
	max-width: 1000px;
	padding: 10px;
}

a {
	color: #0645AD;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.intro {
	text-align: justify;
	font-size: 1.5em;
}

.welcome {
	text-align: right;
}

.link-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer {
	border-top: 1px solid #AAAAAA;
	text-align: center;
	font-size: .8em;
	line-height: 1em;
}